<!-- -->

<launch>

  <include file="$(find handsfree_hw)/launch/handsfree_hw.launch" />
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find handsfree_2dnav)/launch/gmapping.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handsfree_bringup)/rviz/gmapping.rviz" />

  <include file="$(find handsfree_hw)/launch/keyboard_teleop.launch" />

</launch>
