<!-- -->

<launch>

  <arg name="initial_pose_x" default="10.42"/>
  <arg name="initial_pose_y" default="43.49"/>
  <arg name="initial_pose_a" default="0"/>
  <arg name="map_name" default="handsfree_xuda"/>
 
  <include file="$(find handsfree_hw)/launch/handsfree_hw.launch" />
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find handsfree_2dnav)/launch/move_base_amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="map_name" default="$(arg map_name)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handsfree_bringup)/rviz/navigation.rviz" />
  
</launch>
