<launch>

  <!-- Launch the OpenNI2 driver -->
  <include file="$(find handsfree_bringup)/launch/xtion.launch"/> 

  <!-- Run the depthimage_to_laserscan node -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <remap from="image" to="/camera/depth_registered/image_raw" />
    <remap from="camera_info" to="/camera/depth_registered/camera_info" />
    <remap from="scan" to="/scan" />
    <param name="output_frame_id" value="/camera_depth_frame" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 base_link camera_link 50" />

</launch>
