<launch> 
  <node name="stage" pkg="stage_ros" type="stageros" args="$(find handsfree_stage)/world/handsfree_stone.world">
  <remap from="/cmd_vel" to="/mobile_base/mobile_base_controller/cmd_vel"/>
  <remap from="/odom"    to="/mobile_base/mobile_base_controller/odom"/> 
  <remap from="/base_scan"    to="/scan"/> 
  </node>

  <include file="$(find handsfree_2dnav)/launch/move_base_amcl.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handsfree_2dnav)/rviz/HANDSFREE_Robot.rviz" />
</launch>
