<launch> 
  <param name="/use_sim_time" value="true"/>
  <node name="stage" pkg="stage_ros" type="stageros" args="$(find handsfree_stage)/world/handsfree_room.world">
    <remap from="/cmd_vel" to="/mobile_base/mobile_base_controller/cmd_vel"/>
    <remap from="/odom"    to="/mobile_base/mobile_base_controller/odom"/> 
    <remap from="/base_scan"    to="/scan"/> 
  </node>
</launch>
