<!-- -->

<!-- HandsFree机器人一键导航节点(带加减速平滑)-->

<launch>

  <!-- 设置机器人在地图中的初始位置，用于初始化导航系统-->
  <arg name="initial_pose_x" default="0"/>
  <arg name="initial_pose_y" default="0"/>
  <arg name="initial_pose_a" default="0"/>

　　<!-- 这个参数需要修改成开发者建好的目标地图，并存放在handsfree_2dnav/map目录下,默认值是HandsFree办公楼层的地图-->
  <arg name="map_name" default="handsfree_xuda"/>

  <!-- 机器人型号环境变量，用于加载对应机器人型号的配置参数-->
  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>

  <!-- 目标地图加载，发布地图话题-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find handsfree_2dnav)/map/$(arg map_name).yaml" respawn="false" >
  <param name="frame_id" value="map"/>
  </node>

  <!-- 粒子滤波定位，发布机器人当前在地图中的位置-->
  <include file="$(find handsfree_2dnav)/move_base_config/$(arg model)/amcl_node.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/> 
  </include>

  <!-- 加载move_base，实现运动规划-->
  <include file="$(find handsfree_2dnav)/move_base_config/move_base.xml">
    <arg name="model" value="$(arg model)"/> 
    <arg name="cmd_vel_topic" value="/move_base/cmd_vel"/> 
    <arg name="odom_topic" value="/mobile_base/mobile_base_controller/odom"/> 
  </include>  

  <!-- 运动加减速平滑，move_base运动规划的速度不直接输出到机器人驱动，通过平滑节点后才输出到机器人驱动话题-->
  <arg name="node_name"             default="move_base_velocity_smoother"/>
  <arg name="nodelet_manager_name"  default="nodelet_manager_move_base"/>
  <arg name="config_file"           default="$(find handsfree_bringup)/robot_para/velocity_smoother/$(arg model).yaml"/>
  <arg name="raw_cmd_vel_topic"     default="/move_base/cmd_vel"/>
  <arg name="smooth_cmd_vel_topic"  default="/mobile_base/mobile_base_controller/cmd_vel"/>
  <arg name="robot_cmd_vel_topic"   default="/mobile_base/mobile_base_controller/cmd_vel"/>
  <arg name="odom_topic"            default="/mobile_base/mobile_base_controller/odom"/>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
        args="load yocs_velocity_smoother/VelocitySmootherNodelet $(arg nodelet_manager_name)">
        
    <!-- parameters -->
    <rosparam file="$(arg config_file)" command="load"/>

    <!-- velocity commands I/O -->
    <remap from="$(arg node_name)/raw_cmd_vel"    to="$(arg raw_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/smooth_cmd_vel" to="$(arg smooth_cmd_vel_topic)"/>

    <!-- Robot velocity feedbacks -->
    <remap from="$(arg node_name)/robot_cmd_vel"  to="$(arg robot_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/odometry"       to="$(arg odom_topic)"/>
  </node>

</launch>
