<launch>
  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find handsfree_2dnav)/map/zhaowendao_p.yaml" respawn="false" >
  </node>

  <include file="$(find handsfree_2dnav)/move_base_config/$(arg model)/amcl_node.xml"/> 
  <include file="$(find handsfree_2dnav)/move_base_config/$(arg model)/move_base.xml"/>
</launch>
