<launch>

  <!--param name="/use_sim_time" value="false" /-->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.25 0 0 0 0 0 base_link laser 50" />
  <!-- Run the Hokuyo laser scanner node -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node"/>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
  <rosparam command="load" file="$(find xm_bringup)/config/filter_config.yaml" />
  </node>

</launch>
