<!-- -->

<launch>
  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>

  <include file="$(find handsfree_bringup)/robot_para/camera_tf/$(arg model)_tf.xml" />

  <arg name="rgb_camera_info_url"   default="" />
  <arg name="depth_camera_info_url" default="" />

  <include file="$(find astra_launch)/launch/astra.launch"> 
     <arg name="rgb_camera_info_url"             value="$(arg rgb_camera_info_url)" />
     <arg name="depth_camera_info_url"           value="$(arg depth_camera_info_url)" />
  </include>
</launch>
