<!-- -->

<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0 0 0.6 0 0 0 base_link camera_link 50" />

  <!-- Launch the freenect driver -->
  <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handsfree_camera)/rviz/view_kinect.rviz" />

</launch>
