<!--  -->

<launch> 
  <arg name="initial_pose_x" default="0.219"/>
  <arg name="initial_pose_y" default="0.402"/>
  <arg name="initial_pose_a" default="-0.007"/>
  <arg name="map_name" default="playground"/>
  <arg name="model" default="mini"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find handsfree_gazebo)/map/$(arg map_name).yaml" respawn="false" >
    <param name="frame_id" value="map"/>
  </node>
  
  <include file="$(find handsfree_2dnav)/move_base_config/$(arg model)/amcl_node.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/> 
  </include>

  <include file="$(find handsfree_2dnav)/move_base_config/move_base.xml">
    <arg name="model" value="$(arg model)"/> 
  </include>  

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handsfree_gazebo)/rviz/navigation.rviz" />
</launch> 
