KERNEL=="ttyUSB*", ATTRS{interface}=="HandsFree USB to UART Bridge Controller", MODE:="0777", SYMLINK+="HFRobot"
KERNEL=="ttyUSB*", ATTRS{interface}=="FT232R USB UART", MODE:="0777", SYMLINK+="HFRobot"
KERNEL=="ttyUSB*", ATTRS{interface}=="CP2102 USB to UART Bridge Controller", MODE:="0777", SYMLINK+="rplidar"
KERNEL=="ttyUSB*", ATTRS{interface}=="rplidar USB to UART Bridge Controller", MODE:="0777", SYMLINK+="rplidar"
