<!-- -->

<!-- 让机器人底盘跟踪AR　Marker的3D位置 -->

<launch>

  <node pkg="handsfree_ar_tags" name="ar_follower" type="ar_follower.py" clear_params="true" output="screen">
  <remap from="/cmd_vel" to="/mobile_base/mobile_base_controller/cmd_vel"/>
  <!--remap from="/ar_pose_marker" to="/ar_pose_marker"/-->

    <rosparam>
       rate: 10
       max_x: 20.0
       goal_x: 0.7
       x_threshold: 0.1
       y_threshold: 0.05
       y_scale: 0
       x_scale: 1.0
       max_angular_speed: 2.0
       min_angular_speed: 0.2
       max_linear_speed: 0.5
       min_linear_speed: 0.05
    </rosparam>
    
  </node>

</launch>
