<!-- -->

<!-- 这是基于HandsFree 机器人的一键　"AR Marker 跟踪"　的启动脚本-->

<launch>
  <!-- 运行机器人底盘驱动节点-->
  <include file="$(find handsfree_hw)/launch/handsfree_hw.launch" />

  <!-- 运行RGBD摄像头驱动节点，获取颜色图和深度图-->
  <include file="$(find handsfree_camera)/rgb-d/xtion.launch" />

  <!-- 运行识别 AR Marker 节点 得到空间中的3D位置和姿态-->
  <include file="$(find handsfree_ar_tags)/launch/ar_indiv_rgb_camera.launch" />

  <!-- 运行可视化节点，加载对应的rviz配置文件，显示识别到的 AR Marker　在空间中的3D位置和姿态-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handsfree_ar_tags)/rviz/ar_tags.rviz" />

  <!-- 运行机器人跟踪 AR Marker 节点-->
  <include file="$(find handsfree_ar_tags)/launch/ar_follower.launch" />

</launch>
