<!--
  Copyright 2018 The HandsFree
-->

<launch>

  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>
  <arg name="rgbd_scan" default="scan" />
  <arg name="scan_height" default="1" />
  
  <!-- Run the depthimage_to_laserscan node -->
  <node name="squash_depth_camera" pkg="depthimage_to_laserscan"
      type="depthimage_to_laserscan">
    <remap from="image" to="/camera/depth_registered/image_raw" />
    <remap from="camera_info" to="/camera/depth_registered/camera_info" />
    <remap from="scan" to="$(arg rgbd_scan)"/>
    <param name="range_min"  type="double" value="0.45"/>
    <param name="range_max"  type="double" value="10"/>
    <param name="scan_height"  type="int" value="$(arg scan_height)"/>  
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="rgbd_scan_filter">
  <rosparam command="load" file="$(find handsfree_bringup)/robot_para/laser_filter_yaml/xtion/laser_filter_$(arg model).yaml" />
  <remap from="scan" to="$(arg rgbd_scan)"/>
  <remap from="scan_filtered" to="$(arg rgbd_scan)_filtered"/>
  </node>
  
</launch>
