[Desktop Entry]
Encoding=UTF-8
Name[zh_CN]=杀死隐藏ros节点
Comment="kill ros node"
Exec=bash -i /home/handsfree/handsfree/handsfree_ros_ws/src/handsfree/handsfree_bringup/scripts/kill_ros_node.sh
Icon=/home/handsfree/handsfree/handsfree_ros_ws/src/handsfree/handsfree_bringup/scripts/kill_ros_node.png
Info="Spark"
Terminal=true
Type=Application
StartupNotify=true
