<!-- -->

<launch>

  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>
  <arg name="laser_scan" default="scan" />
  
  <include file="$(find handsfree_bringup)/robot_para/laser_tf/$(arg model)_tf.xml" /> 

  <!-- Run the Hokuyo laser scanner node -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node">
  <param name="min_ang" type="double" value="-2.2689"/>
  <param name="max_ang" type="double" value="2.2689"/>
  <param name="intensity"  type="bool"   value="false"/>
  <param name="allow_unsafe_settings"    type="bool"  value="false"/>
  <param name="skip"       type="int"    value="2"/>
  <param name="port"       type="string" value="/dev/ttyACM0"/>
  <param name="frame_id"   type="string" value="laser"/> 
  <remap from="scan" to="base_$(arg laser_scan)"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
  <rosparam command="load" file="$(find handsfree_bringup)/robot_para/laser_filter_yaml/hokuyo/laser_filter_$(arg model).yaml" />
  <remap from="scan" to="base_$(arg laser_scan)"/>
  <remap from="scan_filtered" to="$(arg laser_scan)"/>
  </node>

</launch>
