<!-- -->

<launch>

  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>
  <arg name="laser_scan" default="scan" />
  
  <include file="$(find handsfree_bringup)/robot_para/laser_tf/$(arg model)_tf.xml" /> 

  <!-- Run the Lslidar laser scanner node -->

  <node pkg="lslidar_n301_driver" type="lslidar_n301_driver_node" name="lslidar_n301_driver_node" output="screen">
    <param name="frame_id" value="laser"/>
    <param name="device_ip" value="192.168.1.222"/>
  </node>

  <node pkg="lslidar_n301_decoder" type="lslidar_n301_decoder_node" name="lslidar_n301_decoder_node" output="screen">
    <param name="child_frame_id" value="laser"/>
    <param name="angle_disable_min" value="0"/>
    <param name="angle_disable_max" value="0"/>
    <param name="min_range" value="0.3"/>
    <param name="max_range" value="100.0"/>
    <param name="frequency" value="10.0"/>
    <param name="publish_point_cloud" value="true"/>
    <remap from="scan" to="base_$(arg laser_scan)"/>
  </node>

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find lslidar_n301_decoder)/launch/lslidar_n301.rviz" output="screen"/-->

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
  <rosparam command="load" file="$(find handsfree_bringup)/robot_para/laser_filter_yaml/lslidar/laser_filter_$(arg model).yaml" />
  <remap from="scan" to="base_$(arg laser_scan)"/>
  <remap from="scan_filtered" to="$(arg laser_scan)"/>
  </node>

</launch>
