<!-- -->

<launch>

  <arg name="model" default="$(env HANDSFREE_ROBOT_MODEL)" doc="model type [mini, stone_v2, stone_v3, giraffe]"/>
  <arg name="laser_scan" default="scan" />
  
  <include file="$(find handsfree_bringup)/robot_para/laser_tf/$(arg model)_tf.xml" /> 

  <!-- Run the Hokuyo laser scanner node -->
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.3.10"/>
    <param name="serial_port" value="/dev/ttyACM0"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="false"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-2.1"/>
    <param name="angle_max" value="2.1"/>
    <remap from="scan" to="base_$(arg laser_scan)"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
  <rosparam command="load" file="$(find handsfree_bringup)/robot_para/laser_filter_yaml/UAM_05LP/laser_filter_$(arg model).yaml" />
  <remap from="scan" to="base_$(arg laser_scan)"/>
  <remap from="scan_filtered" to="$(arg laser_scan)"/>
  </node>

  <group if="$(eval arg('model') == 'thunder')">
    <include file="$(find rplidar_ros)/launch/UAM_05LP_back.launch"/> 
  </group>

</launch>
